<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/newstyle.css" />

    <style>
        #align1{
    margin-top : 10px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
       

        <!-- Navigation section  -->

        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <a href='@Url.Action("map", "Home")'>
                        <img src="~/images/logo-test1.jpg" height="60" width="60" />
                    </a>
                   
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right align1" >
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "map" ? "active" : "")">@Html.ActionLink("Home", "map", "Home")</li>
                        <li>@Html.ActionLink("Order", "Create", "orderdetails")</li>
                        <li>@Html.ActionLink("Location", "Index", "Home")</li>
                        <li>@Html.ActionLink("Event", "Index" , "eventdetails")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>

            </div>
        </div>

             
            
        </div>
   
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


